/openlair_debug_adapter/adapter_altium_src/History/
*__Previews*
/openlair_debug_adapter/adapter_altium_src/Project Logs for nest_jtag_serial/
/protect/pemicro_mk24f_scripts/K24FN1M0M12_MXIC_MX25U12835F_8x16Meg_sw_spi.arp
